@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

p {
  font-size: small;
  font-weight: normal;
}

.errorMsg {
  text-align: center;
  border: solid 2px;
  border-radius: 20px;
  padding: 5px;
  z-index: 10;
  color: red;
}

.instructions {
  width: auto;
  font-size: 0.78rem;
  border-radius: 0.5rem;
  background: #A895C5;
  color: #F0F0F0FF;
  position: relative;
  margin: 0;
}

.hide {
  display: none;
}

ul {
  list-style-type: none;
}

.delete-option {
  color: #7A61A8;
  cursor: pointer;
}

#root {
  display: flex;
  background-color: #fff;
  flex-direction: row;

  & #auth {
      background-color: #CFC4DF;
    }
}

.popup {
  position: fixed;
  top: 5%;
  right: -3000px;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #7A61A8;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #CFC4DF;
  width: 20vw;
  position: sticky;

  & button {
    width: 200px;
    background-color: #7A61A8;
    color: #F0F0F0FF;
    padding: 0.25rem;
    margin: 1rem;
    border: none;
    font-size: x-large;
    border-radius: 5px;
  }
}

.content-block {
  background-color: white;
  width: auto;

  & h1 {
    font-size: xxx-large;
    font-weight: 500;
    color: #A895C5;
  }
}

.btn-primary {
  background-color: #7A61A8 !important;
  border-color: #7A61A8 !important;
}

.btn-outline-primary {
  background: none !important;
  color: #7A61A8 !important;
  border-color: #7A61A8 !important;
}

button:hover {
  background-color: #A895C5;
}

button .btn:hover {
  background-color: #A895C5;
}

.active {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
}

.plus {
  border-radius: 50% !important;
  margin-left: 50%;
}

.question-body {
  background-color: #CFC4DF !important;
  border: none !important;
  border-radius: 0.5rem !important;
}

.cursor-pointer{
  cursor: pointer;
}

.question-elem {
    border: none;
    border-radius: 0.25rem;
}

textarea {
    width: -webkit-fill-available;
}

i {
  font-style: normal;
}

#auth {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  .card {
    border-radius: 20px;
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 50px;

    & h2{
      font-size: xx-large;
      font-weight: 500;
      color: #A895C5;
    }

    & img {
      width: 70px;
      height: 70px;
    }

    & form {
      max-height: 400px;

      & div {
        display: flex;
        flex-direction: column;
      }

      & input {
        min-width: 20vw;
        min-height: 5vh;
        ::placeholder{
          color: #9C9C9C;
        }
        margin-bottom: 8px;
        margin-top: 8px;
      }
    }
  }
}
